     @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	box-size: border-box;
}
.tbl{
	width: 1050px;
	border: 1px solid red;
	background-color: #efefef33;
	padding: 10px;
	overflow: auto;
	margin: auto;
	border-radius: 4px;      
}
.t2{
    width: 1000px;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
    border: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);     
}
.t2 thead{
    background-color: #00bcd4;
    color: #fff; 
}
.t2 thead th{
    padding: 10px;
}
.t2 td{
    padding: 10px;
}

.t2 td{
    border: white;
    padding: 5px;
}
.t2 tbody tr td{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.t2 tr{
    width: 20px;
    padding: 5px;
}
.det{
    //display: none;
    width: 1100px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.02);

}
.det .close-btn1{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}
.det .close-btn1:hover{
    color: red;
}
input[type="checkbox"]{
    display: none;
}
label{
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}