@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.dis{
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%,-50%);
    width: 600px;
    
    padding: 30px;
    text-align: center;
    font-family: Arial, "Times New Roman";
    font-size: 30px;
    background-color: rgba(0,0,0,.2);
    
}
h1{
    color: #ffffff;
}

input[type="submit"]{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  
  width: 25%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.e{
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 20px;
 
  
}
.pop{
    background: white;
    //padding-top: 30px;
    color: red;
    font-size: 30px;
}

